.button {
  width: 100%;
  background-color: var(--text-color);
  color: var(--white);
  padding: 16px;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 4px;
  margin-top: 20px;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 0.9;
}
